.innpakning {
    width:70%;/*Bredden på flexboksen*/
    background-color: #404040;/*en mørk gråfarge*/
    margin:auto; /*like høyre og venstremarger*/
    display: flex; /*lager en flexbox*/
    flex-direction: column;/*plasserer boksene i en kolonne*/
}
 
.topptekst {
    height:120px;
    background-color: #909090;
    padding: 5px; /* indre marg*/
    margin: 5px; /* ytre marg*/
}
.meny {
    background-color: #f04605;
    padding: 5px;
    margin: 5px;
}
 
.innhold {
    background-color: #909090;
    padding: 5px;
    margin: 5px;
}
 
.bunntekst {
    background-color: #909090;
    padding: 5px;
    margin: 5px;
}
 
.meny_i_meny {
    background-color: #909090;
    padding: 20px;
    margin: 5px;
}
ul {
    list-style-type: none; /*fjerner kulepunkter*/
    margin: 0;
    padding:0;
 
}
ul li {
    display: inline; /*gjør listepunktene til inline*/
}
ul a {
    padding: 10px 30px; /*marginen på boksene til teksten*/
    color: #333333; /*fargen til teksten*/
    font-weight: bold;
    text-decoration: none; /*fjerner understrek*/
    background-color: #0df005; /*farge til boks*/
}
ul a:hover {
    background-color: #ebe584; /*farge når man har musen over*/
}